<header class="pr-5">
  <h2>Channels</h2>
  <p>Subscribe to your favourite channels and enjoy more news...</p>
</header>
<div class="row">
  <!-- Link Content-->
  <div class="col-sm-9 float-right">
    <% @channels.each do |channel| %>
      <%= link_to channel do  %>
        <div class="row">
          <div class="link-body">
            <h4 class="link-title mb-1 mt-2"><%= channel.name %></h4>
            <div class="link-meta mb-1"><span class="date">Created: <%= channel.created_at %></span></div>
            <div class="reactions">
              <span><a href="#" class="badge badge-warning"><%= channel.subscribed_users.count %> subscribers</a></span>
            </div>
          </div>
        </div>
      <% end %>
      <hr>
    <% end %>
  </div>
  <div class="col-sm-3 float-right">
    <% unless current_user.channel.present? %>
      <%= link_to " Create Channel", new_channel_path, class: "btn btn-dark btn-block" %> <br>
    <% else %>
      <%= link_to " View My Channel", channel_url(current_user.channel), class: "btn btn-warning" %>
      <%= link_to " Back", root_path, class: "btn btn-dark" %> <br>
    <% end %>
  </div>
</div>
