<header>
  <h1 class="text-center"></h1>
</header>
<div class="row">
  <div class="col-sm-6 offset-1">
    <%= image_tag "3.png", size: "600x600", class: "img-fluid"%>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Channel Description</h5>
        <p class="card-text"><%= @channel.description %></p>
        <% unless @channel.user == current_user %>
          <% unless current_user.is_a_subscriber?(@channel) %>
            <%= link_to "Subscribe", channel_subscriptions_path(@channel), class: "btn btn-warning btn-sm", method: :post  %>
          <% else %>
            <%= link_to "Unsubcribe", channel_subscription_path(@channel), class: "btn btn-dark btn-sm", method: :delete %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="side">
      <%= link_to "Back", channels_path, class: "btn btn-dark btn-sm"  %>
      <%= link_to "Edit Channel", edit_channel_path, class: "btn btn-warning btn-sm" if policy(@channel).edit? %>
      <%= link_to "Delete Channel", @channel, class: "btn btn-dark btn-sm", method: :delete, data: {confirm: "Are you sure, you want to delete channel?"} if policy(@channel).destroy?  %>
      <br>
      <br>
      <%= link_to "My Categories", categories_path, class: "btn btn-warning btn-block" if policy(@channel).edit? %>
    </div>
    <br>
    <div class="channel-info">
      <h3>Channel Information:</h3>
      <br>
      <h5>Name: <%= @channel.name %></h5>
      <hr><br>
      <h5>Created: <%= @channel.created_at %></h5>
      <hr><br>
      <h5>Subscribers: <%= @channel.subscribed_users.count %></h5>
    </div>
  </div>
</div>
