<header></header>
<div class="row">
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag "4.png", size: "400x400", class: "img-fluid"%>
      </div>
      <div class="col-sm-6">
        <div class="link-info">
          <h3 class="mt-5"><%= @link.title %></h3>
          <div class="link-meta mb-1"><span class="date">Submitted By: <%= @link.channel.name %> | </span><span class="time"><%= time_ago_in_words(@link.created_at) %> ago </span></div>
          <%= link_to "Visit Url", "#{@link.url}", target: "_blank", class: "btn btn-dark btn-sm"  %>
        </div>
      </div>
    </div>
    <!-- comment section -->
    <header>
      <h4>Recent Comments</h4>
      <h6>Latest comments section by users</h6>
    </header>
    <% if @link.comments.any? %>
      <%= render @link.comments %>
    <% else %>
      <%= image_tag "6.png", size: "250x250", class: "img-fluid", style: "margin-left: 250px"%>
      <h5 class="text-center">  No Comments yet...</h5>
    <% end %>
    <%= render "comments/form" if policy(@comment).create?%>
  </div>
  <div class="col-sm-4 offset">
    <div class="side">
      <%= link_to "Back", links_path, class: "btn btn-dark btn-sm"  %>
      <%= link_to "Edit Link", edit_link_path, class: "btn btn-warning btn-sm" if policy(@link).edit? %>
      <%= link_to "Delete Link", @link, class: "btn btn-dark btn-sm", method: :delete, data: {confirm: "Are you sure?"} if policy(@link).destroy? %>
    </div>
  </div>
</div>
